platforms/android/CordovaLib/ant-build/
platforms/android/ant-build/
platforms/android/com.phonegap.plugins.facebookconnect/callejeroresponsable-FacebookLib/ant-build/
platforms/android/com.phonegap.plugins.facebookconnect/callejeroresponsable-FacebookLib/bin/
