<?xml version='1.0' encoding='utf-8'?>
<widget id="net.etxea.callejeroresponsable" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Callejero Responsable Gasteiz</name>
    <description>
        Aplicación con callejero para conocer los comercios que promueven el consumo responsable en Vitoria/Gasteiz, Alava.
    </description>
    <author email="info@etxea.net" href="http://www.etxea.net">
        Etxea Soluciones TIC
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="SplashScreen" value="screen" />
	
</widget>
