<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Hello World</title>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

        
    </head>
    <body>
<!--
        <div class="app">
            <h1>Comercio Justo</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Iniciando....</p>
                <p class="event received">Listo</p>
            </div>
        </div>
-->


<ons-sliding-menu
                  above-page="inicio.html"
                  behind-page="menu.html"       
                  side="left"
                  max-slide-distance="250px"
                  var="menu">
</ons-sliding-menu>

<ons-template id="inicio.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Inicio/Hasiera</div>
    </ons-toolbar>
	<h2>Comercio Justo</h2>
       
                <p class="event listening">Iniciando....</p>
                <p class="event received">Listo</p>
       
    
  </ons-page>
</ons-template>


<ons-template id="listado.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Listado</div>
    </ons-toolbar>
	<h2>Listado de comercios</h2>
	<ul>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
		<li>Comercio</li>
	</ul>
    
  </ons-page>
</ons-template>


<ons-template id="mapa.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Mapa</div>
    </ons-toolbar>
    
  </ons-page>
</ons-template>

<ons-template id="about.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Acerda de</div>
    </ons-toolbar>
    Información de la licencia, quien la hecho, etc
  </ons-page>
</ons-template>


<ons-template id="menu.html">
  <ons-list>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('inici.html', {closeMenu: true})">
      Inicio
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('listado.html', {closeMenu: true})">
      Listado
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('mapa.html', {closeMenu: true})">
      Mapa
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('about.html', {closeMenu: true})">
      Acerca de
    </ons-list-item>
  </ons-list>
</ons-template>





        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
